<!--NAVIGATION-->
| [Contents](Index.ipynb) | [Week-02-02-Python-Introduction-2](Week-02-02-Python-Introduction-2.ipynb)  >

### Launching the Jupyter Notebook

The Jupyter notebook is a browser-based graphical interface to the IPython shell, and builds on it a rich set of dynamic display capabilities.
As well as executing Python/IPython statements, the notebook allows the user to include formatted text, static and dynamic visualizations, mathematical equations, JavaScript widgets, and much more.
Furthermore, these documents can be saved in a way that lets other people open them and execute the code on their own systems.

Though the IPython notebook is viewed and edited through your web browser window, it must connect to a running Python process in order to execute code.
This process (known as a "kernel") can be started by running the following command in your system shell:

```
$ jupyter notebook
```

This command will launch a local web server that will be visible to your browser.
It immediately spits out a log showing what it is doing; that log will look something like this:

```
$ jupyter notebook
[NotebookApp] Serving notebooks from local directory: /Users/user/xxxxxxx
[NotebookApp] 0 active kernels 
[NotebookApp] The IPython Notebook is running at: http://localhost:8888/
[NotebookApp] Use Control-C to stop this server and shut down all kernels (twice to skip confirmation).
```

Upon issuing the command, your default browser should automatically open and navigate to the listed local URL;
the exact address will depend on your system.
If the browser does not open automatically, you can open a window and manually open this address (*http://localhost:8888/* in this example).

### Launching the Jupyter Notebook using JupyterLab

JupyterLab is the next-generation user interface for Project Jupyter offering all the familiar building blocks of the classic Jupyter Notebook (notebook, terminal, text editor, file browser, rich outputs, etc.) in a flexible and powerful user interface. JupyterLab will eventually replace the classic Jupyter Notebook.

```
$ jupyter lab
```

The current JupyterLab releases are suitable for general usage, and the extension APIs will continue to evolve for JupyterLab extension developers.

# Basic Python

Key motivations of Basic Python with Jupyter Notebook include:
- Write a text in Markdown
- Review the basic concept of Programming (Sequential, Selection, and Iteration)
- Learn some basic data structure in Python (Variables, List, Dictionary, Tuple, Sets)

Related to the area of Basic Python in Jupyter Notebook :
- Markdown
  - The focus is to write some text. The other text formatting issues will be explained in other section.
- Basic Concepts of Programming :
  - Statement
  - Variable
  - Sequential
  - Selection (IF-THEN-ELSE)
  - Iteration / Repetition (FOR, WHILE)
  - Additional Statements
  - Learning Check
- Basic Data Structure
  - Variables
  - List
  - Tuple
  - Dictionary
  - Sets
  - Learning Check

## Markdown 

- This section addresses some basic Markdown
  - Text Description
  - Headings
  - Table and Figures

To run the cell, you can press Ctrl + Enter

To run the cell with additional new line, you can press Shift + Enter

## Text Description

In the markdown, you need to describe the type of text

- **Emphasis**: Use this code: Bold: ```__string__``` (__string__) or ```**string**``` (**string**) Italic: ```_string_``` (_string_) or ```*string*``` (*string*)


- **Mathematical symbols**: Use this code: $ mathematical$  $symbols $

   $x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}$


- **Monospace font**: Surround text with a back single quotation mark. (`) Use monospace for file path and file names and for text users enter or message text users see. 


- **Line breaks**: Sometimes markdown doesn’t make line breaks when you want them. Use 2 spaces or this code for a manual line break: <br> <br>


- **Colors**: Use this code: <font color=blue|red|green|pink|yellow>Text</font> Not all markdown code works within a font tag, so review your colored text carefully!


- **Indented quoting**: Use a greater than sign (>) and then a space, then type the text. The text is indented and has a gray horizontal line to the left of it until the next carriage return.


- **Bullets**: Use the dash sign (- ) with a space after it, or a space, a dash, and a space ( - ), to create a circular bullet. To create a sub bullet, use a tab followed a dash and a space. You can also use an asterisk instead of a dash, and it works the same.


- **Numbered lists**: Start with 1. followed by a space, then it starts numbering for you. Start each line with some number and a period, then a space. Tab to indent to get subnumbering.


- **Horizontal lines**: Use three asterisks: ***

***

- **Internal links**: To link to a section, use this code: [section title](#section-title) For the text in the parentheses, replace spaces and special characters with a hyphen. Make sure to test all the links!
Alternatively, you can add an ID for a section right above the section title. 

- Use this code: <a id="section_ID"></a> Make sure that the section_ID is unique within the notebook.


- Use this code for the link and make sure to test all the links! [section title](#section_ID)
External links: Use this code and test all links! [link text](http://url)

## Headings

In the markdown, you can write text as a description of your code or explanation on something out of the code. 

While there are many things we can do on Markdown, this lecture will focus only on basic writing such as Headings, Typing (Italic, Bold, Underline), Table and Figures.

In the Headings, we can use # as the symbol to distinguish the heading level. 

# Heading 1

## Heading 2

### Heading 3

#### Heading 4

## Table & Figure

- How to create a table
  
  The code would be like below.
```
|  Col1   |   Col2   |    Col3  |   Col4   |   Col5   | 
|---------|----------|----------|----------|----------|
| Cell11  | Cell12   | Cell13   | Cell14   | Cell15   |
| Cell21  | Cell22   | Cell23   | Cell24   | Cell25   |
| Cell31  | Cell32   |  Cell33  | Cell34   | Cell35   |
```

  The table as the result of the code would be as below.

|  Col1   |   Col2   |    Col3  |   Col4   |   Col5   |
|---------|----------|----------|----------|----------|
| Cell11  | Cell12   | Cell13   | Cell14   | Cell15   |
| Cell21  | Cell22   | Cell23   | Cell24   | Cell25   |
| Cell31  | Cell32   |  Cell33  | Cell34   | Cell35   |

- How to attach a figure

- **Figure / Graphics**: You can attach image files directly to a notebook only in Markdown cells. Drag and drop your images to the Mardown cell to attach it to the notebook. To add images to other cell types, you can use only graphics that are hosted on the web. You can’t add captions for graphics at this time. Use this code: <img src="url.gif" alt="Alt text that describes the graphic" title="Title text" />

## Learning Check

# Basic Concepts of Programming

You can type a comment in the code section. Comment means a description in a text format that will not be executed during the code execution.

In [1]:
# Comments in a code
# You can type anything without any concern to the Python syntax

## Statement

In Python, the statement is straighforward. For example, if we want to print:

In [2]:
print("hello")

hello

If we want to print with other text or number:

In [3]:
print("hello", "Bernardo")

hello Bernardo

In [4]:
print("This is my number", 25)

This is my number 25

In [5]:
# You can print multiple line
print('''This is my personal message.
Please check your Notebook
For the detail comments''')

This is my personal message.
Please check your Notebook
For the detail comments

Doing an arithmetic operations is also straighforward.

The basic math operator 

| Operator      | Description |
|---------------|-------------|
| ``+``         | Addition    |
| ``-``         | Subtraction   | 
| ``*``         | Multiplication| 
| ``/``         | Division      | 
| ``//``        | Integer division| 
| ``%``         | Modulus (Remainder)|
| ``**``        | Exponent      |

In [6]:
2 + 2  #addition

4

In [7]:
2 - 2  #subtraction

0

In [8]:
2 * 3  #multiplication

6

In [9]:
4 / 3  #division

1.3333333333333333

In [10]:
4 // 3 #integer division

1

In [11]:
2**3 #exponent

8

Question: What is the different between ```/``` and ```//```?

In [12]:
10 % 3 #modulo

1

## Variable

In Python, we only need to define the variable name without the data type. Unlike the other programming languages (e.g., C, JAVA), Python can automatical recognize the variable value without any definitions such as integer, float, string.

In [13]:
x = 9 #define a value 9 of a variable x
print(x) #print x

9

In [14]:
name = "Park" #define a value of "Park" of a variable name
print(name) #print name

Park

In [15]:
temperature = 32.3 #define a value of "32.3" of a variable temperature (float)
print(temperature) #print temperature

32.3

In the case that we need to get a value from the user, we can use the command ```input```

In [16]:
school = input("Enter your school name:")
print(school)

Enter your school name: HUFS

HUFS

If you need to get an integer value, you can use the function ```int``` to convert the input value into integer. Note that the input should be an integer value (not a letter or String).

In [17]:
y = int(input("enter any integer number"))
print(y)

enter any integer number 1

1

In [18]:
z = float(input("Enter the temperature today: "))
print(z)

Enter the temperature today:  21

21.0

## Sequential

Sequential is the basic concept of programming that everyone should understand. The sequence of code execution for any programming languages would follow top-to-bottom and left-to-right. 

In the top-to-bottom, it will be following the sequence of multiple statements.

In [24]:
# Define a variable
x

# Insert 20 into the variable x
x = 20

# multiple variable x with a scalar value of 5 and store in a variable y
y = x * 5

# print the variable y
print(y)

100

In the left-to-right, it is important to understand the precedence rule in arithmetic.

In [17]:
#Check this arithmetical operations
x = 1 + 2 + 3 + 4 + 5 
print(x)

15

Since the arithmetic operations are all the same, there is unnecessary to check the precedence rule. However, it will affect the result if the arithmetic operations are different.

In [18]:
y = 3 + 2 * 4 - 5 / 2
print(y)

8.5

In that example, ```*``` and ```/``` will be executed first and ```+``` and ```-``` will be subsequently executed. If we put some parentheses, the result would be different

In [19]:
y = (3 + 2) * 4 - 5 / 2
print(y)

17.5

## Selection

Selection is related to options. In any programming languages, the syntax for selection is "IF".
If the condition is TRUE, you can print the statement after the colon (:).

First, we need to understand the conditional tests.

| Conditions | Operator | Example   |
|----------- | ---------| ----------|
| Equals     |     ==   |  x == 50  |
| Not equal  |    !=    |  x != 50  |
| Greater Than     |     >   |  x > 50  |
| Greater Than or Equal To  |    >=    |  x >= 50  |
| Less Than     |     <   |  x < 50  |
| Less Than or Equal To  |    <=    |  x <= 50  |

In [20]:
x = 2
if x > 1:
  print(x , "is greater than 1")

2 is greater than 1

In any case, the condition can be TRUE or FALSE. You can use ELSE statement.

In [21]:
x = 5
if x % 2 == 0:
  print(x, "is even")
else:
  print(x, "is odd")

5 is odd

If there are any more conditions, you can use "ELIF" statement.

In [22]:
x = 0
if x > 0:
  print(x, "is a positive number")
elif x < 0:
  print(x, "is a negative number")
else:
  print(x, "is zero")

0 is zero

## Iteration

Iteration is a programming concept to do some statements until the condition is unmet. For example, we want to print a number from 0 until 5. Then, the statements will be executed if the number is not greater than 5.

In [23]:
for i in range(6):
  print(i)

0
1
2
3
4
5

Note that, Python will do the iteration until n-1.  
If the statement is range(1,6), then it will print from 1 to 5.

In [34]:
for i in range(1,6):
  print(i)

1
2
3
4
5

Alternatively, we can use "WHILE" statement for the iteration.

In [35]:
z = 0
while z < 5:
  print(z)
  z = z + 1

0
1
2
3
4

## Additional Statements

In order to build a comprehensive statement in Python, there are many terminologies that a user can use.

### Function

A function is a collection of statement that can be used in other statement. Rather than repeating some statements, we can make a function and call the function to run some statements in some iterations. 

There are two types of function. 
- Function without return value
- Function with return value

A function without return value is a function to execute the statements without giving any value for the return. 
Meanwhile, the function with return value is a function that can be used to return a particular value according to the user's requirement.

A function will use ```def``` statement. A function can contain arguments or without arguments in the parentheses. Afterward, we need to write ```:```.
In order to run the function, we can just write the function name depending on the arguments.

In [36]:
# a function without parameter
def test_function():
  print("hello function")

test_function()

hello function

In [37]:
# a function with two parameters
def display(name, school):
    print(name, school)

display("Bernardo", "HUFS")
display("Park", "Korea")
display("Lee", "Seoul")

Bernardo HUFS
Park Korea
Lee Seoul

In [30]:
# a function with two parameters with different data types
list3 = [5,6,7]
def display1(name, count):
    print(name)
    count[1] = count[0] - 1
    return count[1]

display1("Bernardo", list3)

Bernardo

4

## Learning Check (Course-based quiz)
1. Write a function to show the first 5 even numbers!
Function name: even_number(5)

Result: 2, 4, 6, 8, 10

2. Write a function to check whether a number is an even or odd!
input n (with the input built-in function from Python)
Function name: check_number(n)
Suppose n = 5
The result of the function check_number(n) is ```odd```

No deadline. You don't need to submit the result.

In [31]:
def even_number(x):
    num=[]
    for a in range(1,x+1):
        num.append(a*2)
    print(num)
even_number(5)

[2, 4, 6, 8, 10]

In [49]:
def check_number(x):
    x = int(input("숫자를 입력하시오 : "))
    if x % 2 == 0 :
        print("even")
    else :
        print("odd")
check_number(x)

숫자를 입력하시오 :  5

odd

# Basic Data Structure 

Python provides built-in basic data structure such as Array (i.e., List), Tuple, Dictionary, Sets. Those basic data structure would be the basis for analyzing any data format.

## List

A list stores a series of items in a particular order. The way to define a list is to use square bracket ```[]```. 

You can access the items using an index, or within a loop. Note that the index of list (in Python) starts from 0 till *n*-1.

In [2]:
#make a list
colors = ["red", "blue", "green"]

In [4]:
colors

['red', 'blue', 'green']

In [6]:
# Get the first item in a list
first_color = colors[0]
print(first_color)

red

In [7]:
print(len(colors))

3

In [8]:
# Get the last item in a list
last_color = colors[-1]
print(last_color)

green

In [9]:
# Looping through a list
# you can define your own variable ("col") to iterate on all items
for col in colors:
  print(col)

red
blue
green

In [11]:
# Adding items to a list
other_col = []
other_col.append('yellow') # add on item
other_col.append('brown')
other_col.append('purple')
print(other_col)

['yellow', 'brown', 'purple']

In [1]:
# Making numerical lists
squares = [] # blank list
for x in range(1,11): # 1~10
  squares.append(x**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# List comprehensions
squares =[x**2 for x in range(1, 11)] # x**2 for every number x in the range of 1 until 10
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# Slicing a list ( cut the list )
top_members = ["park", "lee", "kim", "choi", "cho", "kang"] # [ 0 1 2 3 4 5 ]
first_two = top_members[:2]
first_three = top_members[:3]
print(first_two)
print(first_three)

['park', 'lee']
['park', 'lee', 'kim']

In [4]:
top_members[2:5]

['kim', 'choi', 'cho']

In [5]:
# Copying a list
copy_top_members = top_members[:]
print(copy_top_members)

['park', 'lee', 'kim', 'choi', 'cho', 'kang']

In [6]:
# Conditional test in lists
'park' in top_members

True

In [7]:
# Conditional test NOT in lists
'lee' not in top_members

False

A list can contain multiple items with different data types (String, Integer, Real Number).

In [8]:
# Special characteristics of List
special_list = ["green", 5, 27.4]
print(special_list)

['green', 5, 27.4]

## Learning Check (List)



1.   Create a list of your courses taken in this semester! Can you create the list using input function?
2.   Create a list of the powers of two! For example, input a number of 5. The result would [2, 4, 8, 16, 32]

In [19]:
a = int(input("숫자를 넣어라 : "))
lst = []
for x in range(1,a+1):
    lst.append(2**x)
print(lst)

숫자를 넣어라 :  8

[2, 4, 8, 16, 32, 64, 128, 256]

## Tuple

Tuples are similar to lists but the items in a tuple cannot be modified. In tuple, we define the variables using brackets ```()```

In [20]:
copy_top_members[0] = "Yahya"

In [21]:
copy_top_members

['Yahya', 'lee', 'kim', 'choi', 'cho', 'kang']

In [22]:
top_colors = ("red", "orange", "yellow", "green", "blue", "indigo", "violet" )

The same as List, we can select the element using the square bracket and write a number to indicate the location. Note that the tuple also start from 0 to n-1.

In [23]:
print(top_colors[1])

orange

While we want to see the last element, we can just type -1.

In [24]:
print(top_colors[-1])

violet

## Dictionary

A dictionary contains a key and value. You need to use curly brackets to indicate the dictionary ```{}```

In [25]:
# A simple dictionary
course = {'name': 'Data Science', 'type' : 'online', 'students': 50}
print(course)

{'name': 'Data Science', 'type': 'online', 'students': 50}

In [26]:
# Accessing a value by calling the key
print("The course name: " + course['name'])

The course name: Data Science

In [27]:
course['type']

'online'

In [28]:
course['students']

50

In [29]:
# Adding a new kay-value pair
course['tool'] = "Jupyter Notebook"
print(course)

{'name': 'Data Science', 'type': 'online', 'students': 50, 'tool': 'Jupyter Notebook'}

In [30]:
# Looping through all key-value pairs
# Note that the value should be String. 
for att, value in course.items():
  print(att + " :: " + str(value))

name :: Data Science
type :: online
students :: 50
tool :: Jupyter Notebook

In [31]:
# Looping through all keys
for att in course.keys():
  print(att)

name
type
students
tool

In [32]:
# Looping through all the values
for values in course.values():
  print(values)

Data Science
online
50
Jupyter Notebook

## Set

A set is a collection of unique element on which is unordered and unindexed. In Python sets are written with curly brackets {}.

In [33]:
element = {'a', 'b', 'a' ,'c', 'b', 'd'}
print(element)

{'a', 'b', 'd', 'c'}

In [34]:
print(element)

{'a', 'b', 'd', 'c'}

In [35]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

In [36]:
s1 | s2 #union

{1, 2, 3, 4, 5}

In [37]:
s1 & s2 #intersection

{3}

In [38]:
s2 - s1 #complement of s1

{4, 5}

In [39]:
s1 ^ s2 # omit the intersection

{1, 2, 4, 5}

## Learning Check
1. Can you distinguish among the basic Data Structure? (List, Tuple, Dictionary, Set)
2. Can we use list to write elements with different data types?

List [], Tuple (), Dictionary {key:value}, Set {}

# Remark

This basic markdown with Jupyter Notebook is a section to help students to understand how Jupyter Notebook can be used as a way to code as well as presenting the contents in almost similar to documents in a word processing tool.
In addition, this section teach the students the basic concepts of programming language as well as the important data structure for the course of Introduction to Data Science.